{% extends 'base.html.twig' %}

{% block title %} Yeah! - Espace personnel{% endblock %}

{% block body %}

<main id="layoutSidenav_content">

    <div class="container-fluid">

        <h2 class="m-5">Bienvenue dans votre espace personnel</h2>

        <ul class="list-group">
            <li class="list-group-item">
                <a class="dropdown-item" href="{{ path('profile_list') }}" title="Aller à la liste de vos annonces">Liste de vos annonces</a>
            </li>
            <li class="list-group-item">
                <a class="dropdown-item" href="{{ path('myfavorite', {id: app.user.id }) }}" title="Vos articles favoris">Vos articles favoris</a>
            </li>
            <li class="list-group-item">
                <a class="dropdown-item" href="{{ path('profile') }}" title="Vos informations personnelles">Vos informations personnelles</a>
            </li>
            <li class="list-group-item">
                <a class="dropdown-item" href="{{ path('profile_orders_record') }}" title="Historique de vos commandes">Historique de vos commandes</a>
            </li>
        </ul>
    </div>    

</main>

{% endblock %}
