{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

	<main class="container-fluid">



        <div class="row py-0">
            {{ knp_pagination_render(announcements) }}
        </div>  

        <div class="row">
            {% set col = 3 %}

            {% for announcement in announcements %} 
                {{ include('home/_listAnnouncements.html.twig') }}
            {% endfor %}
        </div>

        <div class="row py-0">
            {{ knp_pagination_render(announcements) }}
        </div>    



	</main>
{% endblock %}
