{% extends 'base.html.twig' %}

{% block title %} Yeah! - Accueil{% endblock %}

{% block body %}
    <main>
        <div>
            <!--Présentation entreprise-->
            <section>
                <h1>Plateforme d’affaires et d’opportunités commerciales</h1>
                <p>yeah.io simplifie la mise en relation entre l’offre et la demande. Vous pouvez inscrire votre entreprise, répondre à des devis, trouver des nouveaux prospects, développer votre chiffre d’affaire, faire connaitre votre savoir-faire ou encore rechercher un prestataire, déposer une offre de stage ou d’emploi...</p>
                <p class="pinkText">Devenez apporteur d’affaire en postant une opportunité commerciale précise et recevez en contrepartie des €, des bons cadeaux ou des bons de réductions.</p>
                <button type="button" class="btn pinkBackground">Créer une publication</button>
            </section>
            <!-- Fin Présentation entreprise-->
            
            
            <!--Barre de recherche ? -->
            <!--Fin Barre de recherche ? -->
    

            <!--Bloc Carte annonce-->
            {{ include('home/_listAnnouncements.html.twig') }}
            <!--Fin Bloc annonce-->    


    
        <!--Carte-->
        <div>
            <!--Intégration Carte-->
        </div>
        <!--Fin carte-->
      
    </main>

{% endblock %}
