{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<main class="pt-85">
    <div class=" mx-auto fond">
        <h1 class="titre mb-4 pt-4 text-center">Rénitialiser votre mot de passe</h1>

        {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <button class="btn pinkBackground mb-4 mt-4">Rénitialiser le mot de passe</button>
        {{ form_end(resetForm) }}
    </div>
</main>
{% endblock %}
