/* Propriétés globales */
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

/* Fin Propriétés globales */

/*Backgrounds*/
.pinkBackground{
    color: white;
    background-color: #fb3199;
}

.violetBackground{
    color: white;
    background-color: #6b40a1;
}

.darkGreyBackground{
    color: white;
    background-color: #6f7176;
}

.lightGreyBackground{
    color: white;
    background-color: #d8d9da;
}
/*Fin Backgrounds*/

/*Vue mobile*/

/* Header */
header {
    width: 100%;
    display: grid;
}

header .logo {
    grid-column: 1/2;
}

header .logo img {
    height: 65px;
    margin: 10px;
}

header .pinkBackground {
    display: none;
}

header h1 {
    color: #fb3199;
    font-size: 20px;
    font-weight: 300;
    grid-column: 1/3;
    grid-row: 2;
    text-align: center;
    margin-bottom:20px;
    padding: 0 25px;
}

header nav {
    grid-column: 2/3;
    text-align: right;
    margin-top: 5px;
}

header nav button {
    border: 1px solid black;
    border-radius: 5px;
    background-color: transparent;
    margin: 20px 10px;
}

header nav .la-bars{
    font-size: 30px;
    color: black;
}

header nav ul {
    display : none;
}

/* Fin Header */

/* Page Index */

main{
    background-color: #ebf2e3; 
    padding : 25px;
}

main section {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

main section h1{
    color: #6b40a1;
    font-size: 30px;
    font-weight: bold;
    margin: 5px 0 30px 0;
    text-align: center;
}

main section p{
    color: #6b40a1;
}

.pinkText{
    color: #fb3199;
    font-weight: bold;
}

.button {
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    width: 60%;
    margin: 0 auto;
}

.search_bar{
    display: flex;
    flex-direction: column;
}

.search_bar div{
    width: 80%;
    margin: auto;
    margin-bottom: 5px;
}

.search_bar .button {
    margin-top: 15px;
}

.search_bar input, .search_bar select{
    width: 100%;
    padding: 5px;
}

 .sortByButton{
     margin: 25px 0 10px;
     border-radius: 5px;
     border: 1px solid #6f7176;
}

/*Carte annonce*/

.card {
    padding: 10px;
    margin-bottom: 5px;
}

.card img{
    width: 100%;
    margin-bottom: 20px;
}

.card_category{
    display: inline;
    padding: 3px 10px;
    text-align: center;
    border-radius: 10px;
}

.card_title{
    font-size: 16px;
    font-weight: 700;
    margin: 15px 0;
}

.card_announcement{
    margin-top: 60px;
    margin-bottom: 10px;
}

.keyWords{
    color: #7f858b;
    font-weight: 700;
    margin-bottom: 10px;
}

.informations{
    margin-top: 10px;
    margin-bottom: 25px;
}

.informations i{
    margin: 0 3px;
}

.card_alternative_text{
    color: #7f858b;
    margin: 5px 0;
}

.buttonList{
    display: flex;
    flex-direction: column;
}

.buttonList .button {
    font-weight: 700;
    margin-bottom: 5px;
}
/*Fin Carte annonce*/

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Fin Page Index */

/* Page dépot d'annonce */

/*.partie_haut{
    width: 100%;
    justify-content: center;
    display: flex;
}

.partie_note{
    width: 100%;
    justify-content: center;
    display: flex;
}
.partie_note > div:first-child > div:last-child input{
 width: 100%;
 height: 150px;
 
}
.partie_bas{
    width: 100%;
    justify-content: center;
    display: flex;
}
*/
/* Fin page dépot d'annonce */



/*Footer*/

    footer p{
        margin-top: 16px;
        text-align: center;
    }
/*Fin Footer*/

/*Fin Vue mobile*/
