/* Propriétés globales */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

a:hover {
    color:black; 
    text-decoration: none;
}

/* Fin Propriétés globales */

/*Backgrounds*/
.pinkBackground {
    color: white;
    background-color: #fb3199;
}

.violetBackground {
    color: white;
    background-color: #6b40a1;
}

.darkGreyBackground {
    color: white;
    background-color: #6f7176;
}

.lightGreyBackground {
    color: white;
    background-color: #d8d9da;
}
/*Fin Backgrounds*/

/*Vue mobile*/

/* Header */
header {
    width: 100%;
    display: grid;
}

header .logo {
    grid-column: 1/2;
}

header .logo img {
    height: 65px;
    margin: 10px;
}

header .btn {
    display: none;
}

header h1 {
    color: #fb3199;
    font-size: 20px;
    font-weight: 300;
    grid-column: 1/3;
    grid-row: 2;
    text-align: center;
    margin-bottom:20px;
    padding: 0 25px;
}

header nav {
    grid-column: 1/3;
    text-align: center;
}

header .navbar-toggler {
    text-align: right;
    font-size: 30px;
}

header nav ul {
    list-style-type: none;
    padding: 0; 
}

header nav li {
    margin-bottom: 5px;
}

header nav a {
    color: black;
}

header nav .la-bars {
    font-size: 30px;
    color: black;
}

/* Fin Header */

/* Page Index */

main {
    background-color: #ebf2e3; 
    padding : 25px;
}

main section {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

main section h1 {
    color: #6b40a1;
    font-size: 30px;
    font-weight: bold;
    margin: 5px 0 30px 0;
    text-align: center;
}

main section p {
    color: #6b40a1;
}

.pinkText {
    color: #fb3199;
    font-weight: bold;
}
.blackText {
    color: black;
}

.button {
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    width: 60%;
    margin: 0 auto;
}

.search_bar {
    display: flex;
    flex-direction: column;
}

.search_bar div {
    width: 80%;
    margin: auto;
    margin-bottom: 5px;
}

.search_bar .button {
    margin-top: 15px;
}

.search_bar input, .search_bar select {
    width: 100%;
    padding: 5px;
}

.sortByButton {
     background-color: white;
     margin: 25px 0 10px;
     padding: 5px;
     border-radius: 5px;
     border: none;
}

.sortByButton i {
    margin: 0 3px;
}

/*Carte annonce*/

.card {
    padding: 15px 15px 10px 15px;
    margin-bottom: 10px;
}

.card img {
    width: 100%;
    margin-bottom: 20px;
}

.card_category {
    display: inline;
    padding: 3px 10px;
    text-align: center;
    border-radius: 5px;
}

.card_title {
    font-size: 16px;
    font-weight: 700;
    margin: 15px 0;
}

.card_announcement {
    margin-top: 30px;
    margin-bottom: 10px;
}

.keyWords {
    color: #7f858b;
    font-weight: 700;
    margin-bottom: 10px;
}

.informations {
    margin-top: 10px;
    margin-bottom: 25px;
}

.informations i {
    margin: 0 3px;
}

.card_alternative_text {
    color: #7f858b;
    margin: 5px 0;
}

.buttonList {
    display: flex;
    flex-direction: column;
}

.buttonList .button {
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 5px;
}
/*Fin Carte annonce*/

.pagination {
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
}

.pagination span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    height: 32px;
    width: 32px;
    padding: 15px;
}

.pagination a {
    color: black;
}

.pagination .current {
    color: white;
    background-color: black;
    border-radius: 50%;
}

.pagination .first, .pagination .previous, .pagination .next, .pagination .last {
    color: black;
    background-color: white;
    border-radius: 50%;
    box-shadow: transparent 0px 0px 0px 1px, transparent 0px 0px 0px 4px, rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

#map {
    height: 200px;
}

/* Fin Page Index */

/* Page dépot d'annonce */

/*.partie_haut{
    width: 100%;
    justify-content: center;
    display: flex;
}

.partie_note{
    width: 100%;
    justify-content: center;
    display: flex;
}
.partie_note > div:first-child > div:last-child input{
 width: 100%;
 height: 150px;
 
}
.partie_bas{
    width: 100%;
    justify-content: center;
    display: flex;
}
*/
/* Fin page dépot d'annonce */

/* Page register and login */
.policeForm {
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.030em;
  }

  .fond {
      background-color: #ebf2e3;
  }

  .fond > .formulaire > button{
      color: #ebf2e3;
  }
  .titre {
    color: #6b40a1;
    font-size: 30px;
    font-weight: bold;
    margin: 5px 0 30px 0;
    text-align: center;
  }
  
/* Fin Page register and login */

/*Footer*/

    footer p {
        margin-top: 16px;
        text-align: center;
    }
/*Fin Footer*/

/*Fin Vue mobile*/

/* Vue tablette */
@media screen and (min-width: 768px) {

    header h1 {
        font-size: 30px;
        margin: 10px 0 35px;
    }

    main {
    padding: 40px;
    }

    main p{
        margin-bottom: 20px;
    }

    main .button {
        margin: 30px auto;
    }

    .search_bar div {
        width: 100%; 
        margin-bottom: 10px;
    }
   
    .search_bar .button {
        margin: 30px auto; 
    }

    .card {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
        padding: 15px;
    }

    .card img {
        height: 100%;
        object-fit: cover;
        margin-bottom: 0;
    }

    .card_bloc_2 {
        display: flex;
        flex-direction: column;
    }

    .card_text{
        flex: 1;
    }

    .card_category{
        align-self: start;
    }

    .card_bloc_3 {
        border-left: 1px dotted #6f7176;
        padding-left: 15px;
    }

    .card .informations {
        margin-top: 0;
    }

    .card_alternative_text:first-child {
        margin-top: 0;
    }

    .buttonList .button {
        margin: 5px 0;
        width: 70%;
    }

    .buttonList .button:last-child{
        margin-bottom: 0;
    }

    .pagination{
        width: 80%;
        margin: 25px auto 0;
    }
}
/*Fin Vue tablette */

/* Vue ordinateur*/
@media screen and (min-width: 1024px) {
    header {
        display: flex;
        align-items: center;
        padding: 0 20px; 
    }
    .navbar-toggler{
        display: none;
    }

    .navbar-collapse {
        display: block !important;
    }

    header ul {
        display: flex;
        justify-content: space-between;
        margin: 0;
    }

    header h1{
        margin: 0;
        font-size: 21px;
        padding: 0 30px;
        width: 100%;
    }

    header .btn {
        display: block;
        font-size: 14px;
        min-width: 180px;
    }

    nav a {
        display: flex;
        flex-direction: column;
    }

    nav i {
        font-size: 30px;
    }
    
    .left_bloc{
        width: 60%;
    }

    main .button {
        width: 40%;
        border-radius: 5px;
    }

    .search_bar{
        flex-direction: row;
    }

    .search_bar .button {
        margin: 0; 
        min-width: 100px;
        border-radius: 0;
        border-top-right-radius: 41px; 
        border-bottom-right-radius: 41px;  
        padding-right: 15px;
    }

    .search_bar > div {
        margin: 0;
    }

    .search_bar input, .search_bar select {
        height: 100%;
        border-radius: 0; 
        border : none;
    }

    .search_bar div:first-child input{
        border-top-left-radius: 41px; 
        border-bottom-left-radius: 41px; 
        padding-left: 15px;  
    }

    .map {
        width: 40%;
    }

}
/* Vue ordinateur*/


