{% extends 'admin/base_admin.html.twig' %}

{% block title %}Edition des rôles des utilisateurs{% endblock %}

{% block body %}
    <h1>Edition des rôles des utilisateurs</h1>

    {{ include('admin/users/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('admin_users_index') }}">Retour à la liste</a>

    {{ include('admin/users/_delete_form.html.twig') }}
{% endblock %}
