{% extends 'base_admin.html.twig' %}

{% block title %}Espace administration{% endblock %}

{% block body %}


    <div id="layoutSidenav_content">
        <div class="container-fluid text-center">
            <div class="d-block px-5">
                <img class="logo" style="width: 800px;" src="{{ asset('images/logo_Yeah.png') }}">
            </div>
        </div>    
    </div>     


{% endblock %}