{% extends 'admin/base_admin.html.twig' %}

{% block title %}Edition des categories{% endblock %}

{% block body %}
    <h1 class="pt-150">Edition des categories</h1>

    {{ include('admin/categories/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('admin_categories_index') }}">Retour à la liste</a>
{% endblock %}
