{% extends 'admin/base_admin.html.twig' %}

{% block title %}Categories index{% endblock %}

{% block body %}
    <h1>Liste des categories d'annonce</h1>

    <a href="{{ path('admin_categories_new') }}">Nouvelle categorie d'annonce</a>


    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Cout de débloquage</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.creditsToUnlock }}</td>
                <td>
                    <a href="{{ path('admin_categories_edit', {'id': category.id}) }}">Editer</a>
                    <a href="#">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun élément à afficher</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
