<form method="post" action="{{ path('admin_activity_sector_delete', {'id': activity_sector.id}) }}" onsubmit="return confirm('Etes-vous sûr ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ activity_sector.id) }}">
    <button class="btn">Supprimer</button>
</form>
