{% extends 'admin/base_admin.html.twig' %}

{% block title %}Edit ActivitySector{% endblock %}

{% block body %}
    <h1>Edit ActivitySector</h1>

    {{ include('admin/activity_sector/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_activity_sector_index') }}">back to list</a>
{% endblock %}
