{% extends 'admin/base_admin.html.twig' %}

{% block title %}Liste des Secteurs d'activités{% endblock %}

{% block body %}
    <h1>Liste des Secteurs d'activités</h1>

    <a href="{{ path('admin_activity_sector_new') }}">Nouveau</a>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for sector in sectors %}
            <tr>
                <td>{{ sector.name }}</td>
                <td>
                    <a href="{{ path('admin_activity_sector_edit', {'id': sector.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun élément à afficher</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
