{% extends 'admin/base_admin.html.twig' %}

{% block title %}ActivitySector index{% endblock %}

{% block body %}
    <h1>ActivitySector index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for sector in sectors %}
            <tr>
                <td>{{ sector.name }}</td>
                <td>
                    <a href="{{ path('admin_activity_sector_edit', {'id': sector.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_activity_sector_new') }}">Create new</a>
{% endblock %}
