{% extends 'base.html.twig' %}

{% block title %}New ActivitySector{% endblock %}

{% block body %}
    <h1>Create new ActivitySector</h1>

    {{ include('admin/activity_sector/_form.html.twig') }}

    <a href="{{ path('admin_activity_sector_index') }}">back to list</a>
{% endblock %}
