body{

    font-family: Arial, Helvetica, sans-serif;
}

main{
    margin: 20px;
}

h1{
    font-size: 20px;
}

table, tr, td, th{
    padding: 15px;
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
}

div{
    height: 150px;
    position: relative;
}

img{
    position: absolute;
    width: 150px;
    top: 0;
    right: 0;
}

span{
    font-weight: bold;
}