{% extends 'admin/base_admin.html.twig' %}

{% block title %}Edition des packs{% endblock %}

{% block body %}
    <h1 class="pt-150">Edition des packs</h1>

    {{ include('admin/subscription/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('admin_subscription_index') }}">Retour à la liste</a>

    {{ include('admin/subscription/_delete_form.html.twig') }}
{% endblock %}
